body {
    font-family: Arial, sans-serif;
    background-color: green;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

    nav ul li {
        display: inline-block;
        padding: 10px;
        background-color: black;
        border-right: 2px solid white;
    }

        nav ul li:last-child {
            border-right: none;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

        nav ul li:hover {
            background-color: grey;
        }

        nav ul li.active {
            background-color: forestgreen; 
        }

section {
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
}

.background {
    flex-direction: row;
}

.hobbies {
}

section img {
    width: 150px;
    height: auto;
    object-fit: cover;
    margin: 0 15px;
}

section p {
    flex: 1;
}

.modules {
    display: block;
    text-align: left;
    padding: 10px;
}

.modules table {
    width: 100%;
    border-collapse: collapse;
}

.modules th, .modules td {
    padding: 8px;
    text-align: left;
}

img {
    width: 150px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

    img:hover {
        transform: scaleX(-1);
    }
